@media only screen and (min-width:350px){
    .alert {
        background-color: #e6e6e6;
        color: #000000;
        text-align: center;
        font-size: 80%;
        font-family: Arial, Helvetica, sans-serif;
        width: 85%;
        margin-top: 5%;
        
      }
      
      .closebtn {
        
        float: right;
        font-size: 20px;
        line-height: 50px;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.3s;
        
      }
      .heading {
      margin-bottom: 5%;
      margin-top: 15%;
      }
      .closebtn:hover {
        color: black;
      }
      button[type=submit]
      {
      background-color: rgb(0, 9, 128);
      border: 1px solid rgb(10, 8, 156);
          color: rgb(255, 255, 255);
          width: 55%;
          height: 50px;
          font-size:15px;
          font-family:Arial, Helvetica, sans-serif;
          word-spacing: normal; 
          margin-top: 10px;
          margin-bottom: 25px;
          border-radius: 5px;
          margin-bottom: 10%;
      }
      button[type=submit]:focus{
      box-shadow: 0px 0px 2.5px 2.5px #02330688;
      }
      input[type=email]{
      border: 1px solid rgb(13, 156, 8);
          color: rgb(0, 0, 0);
          width: 85%;
          height: 40px;
          font-size:18px;
          font-family:Arial, Helvetica, sans-serif;
          word-spacing: normal; 
          margin-top: 15px;
          margin-bottom: 25px;
          border-radius: 5px;
          outline: none;
          background-color: white;
      }
      input[type=email]:focus {
          box-shadow: 0px 0px 2.5px 2.5px #4a62b188;
                 }
      a{
        text-decoration: none;
        color: red;
      }
      a:hover{
        color: black;
      }
        }

@media only screen and (min-width:600px){
    .alert {
        background-color: #e6e6e6;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 130%;
        font-family: Arial, Helvetica, sans-serif;
        width: 60%;
        margin-top: 5%;
      }
      
      .closebtn {
        
        float: right;
        font-size: 30px;
        line-height: 50px;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.3s;
        
      }
      .heading {
      margin-bottom: 5%;
      margin-top: 10%;
      }
      .closebtn:hover {
        color: black;
      }
      button[type=submit]
      {
      background-color: rgb(0, 9, 128);
      border: 1px solid rgb(8, 30, 156);
          color: rgb(255, 255, 255);
          width: 35%;
          height: 50px;
          font-size:18px;
          font-family:Arial, Helvetica, sans-serif;
          word-spacing: normal; 
          margin-top: 10px;
          margin-bottom: 25px;
          border-radius: 5px;
          margin-bottom: 10%;
      }
      button[type=submit]:focus{
      box-shadow: 0px 0px 2.5px 2.5px #02330688;
      }
      input[type=email]{
      border: 1px solid rgb(8, 43, 156);
          color: rgb(0, 0, 0);
          width: 70%;
          height: 50px;
          font-size:18px;
          font-family:Arial, Helvetica, sans-serif;
          word-spacing: normal; 
          margin-top: 10px;
          margin-bottom: 25px;
          border-radius: 5px;
          outline: none;
          background-color: white;
      }
      input[type=email]:focus {
          box-shadow: 0px 0px 2.5px 2.5px #4a4db188;
                 }
      a{
        text-decoration: none;
        color: red;
      }
      a:hover{
        color: black;
}
}